#ads-page {
  min-height: 90vh;
  max-height: auto;
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  text-align: center;
}
#ad {
  width: 200px;
  height: 300px;
  background-color: red;
}
.ad-details {
  width: 70%;
  height: 400px;
}
#create-ad-btn {
  width: 200px;
  height: 30px;
  border-radius: 5%;
  background-color: transparent;
  border: 1px solid #146c94;
  color: #146c94;
  font-weight: 500;
}
