#create-event {
  width: 100%;
  min-height: 90vh;
  max-height: auto;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
#event-fields {
  display: grid;
  grid-template-rows: 1fr fr 2fr 1fr;
  gap: 1em;
}
#form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.item {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.create-traits > div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

#submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

@media only screen and (max-width: 541px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 279px) and (max-width: 700px) {
  #event-fields {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 700px) and (max-width: 974px) {
  #event-fields {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
