#log-in-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#login-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url("../assets/buildings.jpg"); */
  /* object-fit: cover; */
}
#login-heading img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#log-in {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#log-in h1 {
  font-size: 30px;
}
#log-in form {
  padding: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#log-in input {
  width: 400px;
  height: 50px;
  padding: 10px;
}

@media only screen and (max-width: 330px) {
  #log-in-page {
    grid-template-columns: 1fr;
  }
  #login-heading {
    display: none;
  }
  #log-in form {
    padding: 5rem 0;
  }
  #log-in input {
    width: 250px;
    height: 30px;
    padding: 10px;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 331px) and (max-width: 600px) {
  #log-in-page {
    grid-template-columns: 1fr;
  }
  #login-heading {
    display: none;
  }
  #log-in form {
    padding: 5rem 0;
  }
  #log-in input {
    width: 300px;
    height: 40px;
    padding: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  #log-in-page {
    grid-template-columns: 1fr;
  }
  #login-heading {
    display: none;
  }
  #log-in form {
    padding: 5em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #log-in-page {
    grid-template-columns: 2fr 1fr;
  }
  #log-in form {
    padding: 5em 2em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #log-in-page {
    grid-template-columns: 2fr 1fr;
  }
}
