#register-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#register-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url("../assets/buildings.jpg"); */
  /* object-fit: cover; */
}
#register-heading img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#register {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#register h1 {
  font-size: 30px;
}
#register form {
  padding: 5em;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
#register input {
  width: 300px;
  height: 50px;
  padding: 10px;
}
.submit-form {
  background-color: #146c94;
  color: #f6f1f1;
  border: 0;
  border-radius: 5%;
  font-weight: 500;
}
.submit-form:hover {
  background-color: transparent;
  color: #146c94;
  border: 2px solid #146c94;
}
.name-surname {
  display: flex;
  flex-direction: column;
}
.name-surname div {
  width: 300px;
}

#register-gender {
  display: flex;
  width: 100px;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
